/*PSEUDO-CLASS	 */
/*{
    a:active{background-color:green}                um elemento ativado 
    a:focus{background-color:green}                 um elemento enquanto o elemento tem foco 
    a:visited{background-color:green}               um link visitado 
    a:hover{background-color:green}                 um elemento quando você passa o mouse sobre ele 
    a:link{background-color:green}                  um link não visitado 
    a:disabled{background-color:green}              um elemento enquanto o elemento está desabilitado 
    a:enabled{background-color:green}               um elemento enquanto o elemento está habilitado 
    a:checked{background-color:green}               um elemento (controle de elemento de formulário) que é verificado 
    P::selection{background-color:green}            um elemento que está atualmente selecionado ou destacado pelo usuário 
    p:lang{background-color:green}                  Permite que o autor especifique um idioma para usar em um elemento especificado 
    a:nth-child(n){background-color:green}          um elemento que é o n-ésimo irmão 
    a:nth-last-child(n){background-color:green}     um elemento que é o n-ésimo irmão contando do último irmão 
    a:first-child{background-color:green}           um elemento que é o primeiro irmão 
    a:last-child{background-color:green}            um elemento que é o último irmão 
    a:only-child{background-color:green}            um elemento que é o único filho 
    a:nth-of-type(n){background-color:green}        um elemento que é o n-ésimo irmão de seu tipo. 
    a:nth-last-of-type(n){background-color:green}   um elemento que é o n-ésimo irmão de seu tipo contando do último irmão 
    a:last-of-type{background-color:green}          um elemento que é o primeiro irmão de seu tipo 
    a:first-of-type{background-color:green}         um elemento que é o último irmão de seu tipo 
    a:only-of-type{background-color:green}          um elemento que é o único filho desse tipo 
    a:empty{background-color:green}                 um elemento que não tem filhos 
    a:root{background-color:green}                  elemento raiz dentro do documento 
    a:not(x){background-color:green}                um elemento não representado pelo argumento 'x' 
    a:target{background-color:green}                um elemento de destino conforme especificado por um destino em um URI 
/*}