/*TABLE */
/*
    border-collapse: collapse | separate 
    border-spacing:length length 
    caption-side:	top | bottom | left | right 
    empty-cells:	show | hide 
    table-layout:	auto | fixed 
*/
